/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#2E8915; text-decoration: underline; outline:none}
a:hover{ color:#2E8915; text-decoration: none; outline:none}

body{ background:#f2f2f2 url(images/back_all.png); border:0; font: 12px Arial, Helvetica, sans-serif; color:#34303d ; line-height:18px; min-width:320px;}

#main{position: relative;}




/* ============================= header ====================== */
header{position: relative; background: url(images/header_top.jpg) no-repeat top center;}

.top1{height: 150px;}
.top1_inner{ padding-top: 60px; padding-bottom: 20px;}

.logo_wrapper{float: left; text-align: center;}
.logo {display: inline-block; font-family: 'Roboto'; font-weight: 500; font-size: 36px; color: #fff; text-decoration: none; text-transform: uppercase}
.logo:hover {color: #9BEF84}






.top2{position: relative; }
.slider_wrapper{position: relative;overflow: hidden;}




/* ============================= content ====================== */
#content{ padding-top: 0px; padding-bottom: 20px; position: relative; z-index: 2; border-top: 4px solid #2E8915;}
.main #content{margin-top: -300px;}

/* ============================= footer ====================== */
footer{position: relative; z-index: 1; }

.bot1{position: relative; background: #27232f; padding: 15px 0; color: #bababa;}

.block_title{font-family: 'Roboto'; font-weight: 300; font-size: 26px; line-height: 26px; color: #f2f2f2; border-left: 5px solid #2E8915; padding-left: 15px; margin-top: 20px; margin-bottom: 20px;}



.bot2{position: relative; background: #1b1920; padding: 30px 0;}

.copyright{ color: #77757c;}


/* ============================= main menu ====================== */
.menu_wrapper{width: 100%; height: 50px; background: url(images/px1.png); position: relative; z-index: 50;}
.main .menu_wrapper{position: absolute; left: 0; top: 0;}




.navbar_ { margin: 0; padding: 0; padding-top: 2px; relative;z-index: 30;}
.navbar_ .navbar-inner_ { padding: 0; margin: 0; border: none; min-height: inherit; background: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; filter:none; }
.navbar_ .btn-navbar { background: #2E8915; border: none;box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 11px; margin-bottom: 10px;}
.navbar_ .btn-navbar:hover{background: #d23d15;}
.navbar_ .btn-navbar .icon-bar{background-image: none;}
.nav-collapse_.collapse{ position:relative; display:block; text-align: center;}
.navbar_ .nav{ position: relative; float: none; margin: 0; padding: 0; display: block; left: auto;}
.navbar_ .nav > li{position: relative; display: block; float: left; border-right: 1px solid #434045; white-space: nowrap;}
.navbar_ .nav > li:first-child{border-left: 1px solid #434045;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Open Sans'; font-weight: 400; font-size: 16px; line-height: 48px; height: 48px; color: #c7c4cd; text-shadow:none; padding: 0px 25px; border: none; margin: 0;  
transition: color 0.3s ease-out; -moz-transition: color 0.3s ease-out; -webkit-transition: color 0.3s ease-out; -o-transition: color 0.3s ease-out;
}
.navbar_ .nav > li > a em{display: inline-block; width: 5px; height: 3px; background: url(images/marker0.png) left top no-repeat; position: relative; margin-left: 10px; margin-top: 24px; vertical-align: top;}
.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #fff; text-decoration: none; background: none;  box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.navbar .nav > .active > a, .navbar .nav > .active.sfHover > a, .navbar .nav > .active.sfHover > a:hover, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{color: #27232f; background: #2E8915; text-decoration: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}

.sub-menu ul { position: absolute; display: none; left: 0px; top: 48px; list-style: none; zoom: 1; z-index: 109; margin: 0; padding:0px; background: #342f3d; text-align: left; }
.sub-menu li { margin: 0; position: relative; zoom: 1; display: block; border-top: 1px solid #3c3746;}
.sub-menu li:first-child{border-top: none;} 
.sub-menu li a{display: block; position: relative; font-family:'Open Sans'; font-weight: 400; font-size: 14px; line-height: 20px; color: #bdbbc4; text-decoration: none; padding: 10px 45px 10px 25px; 
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #27232f; background: #2E8915;}

.sub-menu li a em{display: inline-block; width: 3px; height: 5px; background: url(images/marker1.png) left top no-repeat; position: absolute; right: 15px; top: 50%; margin-top: -2px;}
.sub-menu li a:hover em{background-position: bottom;}

.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: 0px; margin-left: 0px; background: #231f29;}

/* ============================= menu bot ====================== */





/* ============================= search-form ====================== */
.search-form-wrapper{float: right;}
.navbar-form { float: left; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; }
.navbar-form input { width: 190px; height: 20px; font-size: 12px; line-height: 20px; color:#fff; background: #27232f; border: none; border: 1px solid #3d3846; margin: 0; padding: 8px 50px 7px 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: inset  0px 3px 20px 3px  #27232f; -webkit-box-shadow: inset  0px 3px 20px 3px  #27232f; box-shadow: inset  0px 3px 20px 3px  #27232f; }
.navbar-form input:focus {color: #fff; border-color: #fff;-moz-box-shadow: inset  none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-form a {text-decoration: none; margin: 0; display: inline-block; border-left: none; width: 42px; height: 28px; background: url(images/search.png) left top no-repeat; position:absolute; right:0; top: 4px; }
.navbar-form a:hover { background-position: right;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(images/totop.gif) no-repeat left top; }
#toTopHover { background:url(images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }

/* ============================= main layout ====================== */
h1{ font-family:'Roboto'; font-weight:400; font-size:35px; color:#34303d; line-height:35px; padding:0px 0 0px 20px; margin: 20px 0 25px;border-left: 5px solid #2E8915;}

h2{ font-family:'Roboto'; font-weight:300; font-size:26px; color:#34303d; line-height:26px; padding:0px 0 0px 20px; margin: 20px 0 25px;border-left: 5px solid #2E8915;}

h3{ font-family:'Roboto'; font-weight:700; font-size:20px; color:#34303d; line-height:35px; padding:0px 0 0px 20px; margin: 20px 0 25px;border-left: 5px solid #2E8915; text-transform: uppercase;}

h4{ font-family:'Roboto'; font-weight:300; font-size:16px; line-height: 25px; color:#34303d; padding:0px 0 10px 0; margin: 0px 0px 0px 0px;}

h6{ font-family:'Roboto'; font-weight:700; font-size:16px; line-height: 25px; color:#34303d; padding:0px 0 10px 0; margin: 0px 0px 0px 0px;}


.upper { text-transform:uppercase;}

.color1{ color:#2E8915;}
a.color1{ color:#2E8915;}
a.color1:hover{ color:#2E8915;}

.color2{color: #fff;}
a.color2{color: #fff;}
a.color2:hover{color: #fff;}

.line1 { height:1px; background:#b9b2a2; margin:5px 0;}

.radius1{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.pad_bot1{padding-bottom: 20px;}


/* === */
.ul0{ padding: 0; margin: 0; list-style: none;}
.ul0 > li { padding:0px 0px 5px 20px; margin: 0px 0px 5px 0px; background: url(images/li_st0.png) 0 6px no-repeat; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 20px; color: #bababa;}
.ul0 > li a{color:#bababa; text-decoration: none; }
.ul0 > li a:hover{color:#fff; text-decoration: underline; }

.ul_social{ padding: 0; margin: 0; list-style: none;}
.ul_social > li { padding:0px 0px 0px 0px; margin: 0px 0px 8px 0px; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 20px; color: #bababa;}
.ul_social > li a{color:#bababa; text-decoration: none; }
.ul_social > li a .img{padding-right: 20px;}
.ul_social > li a:hover{color:#fff; text-decoration: underline; }

.banners{}
.banners .banner{}
.banners .banner_inner{border-right: 1px solid #fff; padding-top: 20px; padding-bottom: 20px; padding-right: 10px;}
.banners .txt1{width: 86px; height: 86px; line-height: 86px; background: #2E8915; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; font-family:'Roboto'; font-weight: 900; font-size: 60px; color: #fff; text-align: center; margin-bottom: 20px;}
.banners .banner:hover .txt1{background: #494158;}
.banners .txt2{font-family:'Roboto'; font-weight: 400; font-size: 25px; line-height: 25px; color: #34303d; padding-bottom: 15px;}
.banners img{width: 100%;}

.button1{ display:inline-block; line-height:16px;  text-decoration: none; margin-top:10px; margin-bottom:10px; font-size:18px; font-family:'Roboto'; font-weight: 300; color:#483e5d; white-space:nowrap; letter-spacing:0px; 
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.button1:hover { color:#2E8915;}

.ul1{ padding: 0; margin: 0; list-style: none;}
.ul1 > li { padding:0px 0px 10px 35px; margin: 0px 0px 10px 0px; background: url(images/li_st1.png) 0 2px no-repeat; font-family: 'Roboto'; font-size: 16px; font-weight: 300; line-height: 20px; color: #34303d;}

.box1{ padding-bottom: 10px;}
.box1 > .inner{background: #fff;}
.box1 > .shadow{background: url(images/shadow.png) right top no-repeat; height: 12px;}

.ul_cat{ padding: 0; margin: 0; list-style: none;}
.ul_cat > li{padding: 0; margin: 0; display: block; border-top: 1px solid #fff; border-bottom: 1px solid #d5d5d5;}
.ul_cat > li:first-child{border-top: none;}
.ul_cat > li a{display: block; background: #eaeaea; padding:17px 10px 17px 30px; font-family: 'Open Sans'; font-size: 16px; font-weight: 300; line-height: 20px; color: #3c272d; text-decoration: none; border-left: 4px solid transparent;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.ul_cat > li a:hover{background: #f2f2f2; color: #fa4819; border-color: #2E8915;}

.box2{ margin-top: 10px;}
.box2 > .inner{background: #fff; position: relative;}
.box2 > .inner > .box2_ic{position: absolute; right: 13px; top: -9px; z-index: 0; background: url(images/box2.png) 0 0 no-repeat; width: 64px; height: 74px;}
.box2 > .inner > .box2_titile{ border-bottom: 1px solid #e2e2e2; font-family: 'Roboto'; font-weight: 300; font-size: 24px; color: #494158; line-height: 30px; padding: 20px; position: relative; z-index: 2;}
.box2 > .inner > .box2_pad{padding: 20px;}
.box2 > .shadow{background: url(images/shadow.png) right top no-repeat; height: 12px;}
.box2 a{color: #807e85; text-decoration: underline;}
.box2 a:hover{color: #2E8915; text-decoration: none;}

.date1{ background: #a4a0ab; display: inline-block; line-height: 21px; color: #fff; padding: 0 11px; margin-bottom: 10px;}

.button2{ display:inline-block; line-height:16px;  text-decoration: none!important; margin-top:5px; margin-bottom:10px; font-size:14px; font-family:'Roboto'; font-weight: 400; color:#2E8915!important; white-space:nowrap; letter-spacing:0px; 
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.button2:hover { color:#34303d!important; text-decoration: underline!important;}

.button3{ display:inline-block; line-height:45px; height: 45px;  text-decoration: none; margin-top:10px; margin-bottom:10px; font-size:14px; font-family:'Roboto'; font-weight: 700; color:#f2f2f2; text-transform: uppercase; white-space:nowrap; letter-spacing:0px; background: #000; background:rgba(28, 26, 32, 0.4); padding: 0 17px; border: 1px solid #858488;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.button3 em{display: inline-block; width: 8px; height: 7px; background: url(images/button0.png) 0 0 no-repeat; vertical-align: top; margin-left: 13px; margin-top: 20px;}
.button3:hover {color: #fff; background: #2E8915; border-color: #2E8915;}

.google_map{ position: relative; overflow: hidden; margin: 0 0 20px 0; padding: 10px; background: #fff;border: none;}
.google_map iframe{position: relative; width: 100%; height: 480px; border: none;}


/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 10px; background: #fff; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.thumbnail .caption{padding: 0; color: #4b3e33}

.thumb1 {margin-bottom: 20px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb1 figure{margin: 0; float: left; margin:0px 20px 0px 0px;}
.thumb1 figure img{width: auto;}
.thumb1 .caption{overflow: hidden;}

.thumb2 {margin-bottom: 20px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; padding-bottom: 12px; background: url(images/shadow.png) right bottom no-repeat;}
.thumb2 figure{margin: 0; float: none; margin:0px 0px 0px 0px;}
.thumb2 figure img{width: 100%;}
.thumb2 .caption{}

.thumb3 {margin-bottom: 20px; padding-bottom: 12px; background: url(images/shadow.png) right bottom no-repeat;}
.thumb3.last {margin-bottom: 0px;}
.thumb3 .thumbnail{padding: 10px; background: #fff; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb3:hover .thumbnail{background: #a4a0ab;}
.thumb3 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb3 figure img{width: 100%;}
.thumb3 .caption{}
.thumb3 .caption .txt1{ font-family: 'Roboto'; font-weight: 700; font-size: 15px; line-height: 20px; color: #34303d; padding-bottom: 5px; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb3:hover .caption .txt1{color: #fff;}
.thumb3 .caption .txt2{ font-family: 'Roboto'; font-weight: 300; font-size: 14px; line-height: 20px; color: #34303d;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb3:hover .caption .txt2{color: #fff;}

.thumb4 {margin-bottom: 20px;}
.thumb4.last {margin-bottom: 0px;}
.thumb4 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb4 .figure_wrapper{float: left; margin:0px 20px 10px 0px; padding-bottom: 12px; background: url(images/shadow.png) right bottom no-repeat;}
.thumb4 figure{margin: 0; float: none; }
.thumb4 figure img{width: auto;}
.thumb4 .caption{}

.thumb5 {margin-bottom: 20px;}
.thumb5.last {margin-bottom: 0px;}
.thumb5 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb5 .figure_wrapper{float: left; margin:0px 20px 10px 0px; padding-bottom: 12px; background: url(images/shadow.png) right bottom no-repeat;}
.thumb5 figure{margin: 0; float: none; }
.thumb5 figure img{width: auto;}
.thumb5 .caption{}

.thumb6 {margin-bottom: 20px;}
.thumb6.last {margin-bottom: 0px;}
.thumb6 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb6 .figure_wrapper{float: none; margin:0px 0px 10px 0px; padding-bottom: 12px; background: url(images/shadow.png) right bottom no-repeat;}
.thumb6 figure{margin: 0; float: none; }
.thumb6 figure img{width: 100%;}
.thumb6 .caption{}












.thumb-isotope {padding-bottom: 12px; background: url(images/shadow.png) right bottom no-repeat;}
.thumb-isotope .thumbnail{padding: 10px; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; background: #fff;}
.thumb-isotope figure{position: relative; margin: 0; float: none; margin:0px 0px 20px 0px; padding: 0px; background: none; border: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a{position: relative;  display: block;}
.thumb-isotope .thumbnail a:hover figure{background: #fff;}
.thumb-isotope .thumbnail a img{width: 100%;}
.thumb-isotope .thumbnail a em{position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 2; background: url(images/photo1.png) center center no-repeat; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover em{opacity: 1; filter: alpha(opacity=100);}
.thumb-isotope .caption{}


/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; } 

#ajax-contact-form .control-group{margin-bottom: 10px;}
#ajax-contact-form .control-label{display: none;}
#ajax-contact-form .controls{margin-left: 0;}
#ajax-contact-form input, #ajax-contact-form textarea{background: #fff; border: 1px solid #dedede; color: #34303d; padding-top: 10px; padding-bottom: 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: inset  0px 3px 20px 3px  #f6f6f6; -webkit-box-shadow: inset  0px 3px 20px 3px  #f6f6f6; box-shadow: inset  0px 3px 20px 3px  #f6f6f6;}
#ajax-contact-form input:focus, #ajax-contact-form textarea:focus{border-color:#a4a3a3; }
#ajax-contact-form textarea{height: 124px;}
#ajax-contact-form .control-group.capthca{margin-bottom: 0px;}
#ajax-contact-form .capthca input{width: 126px; float: left; margin-right: 10px;margin-bottom: 10px;}
#ajax-contact-form img{float:left; width:150px; height:42px;margin-bottom: 10px;}
#ajax-contact-form .submit{border: 0; margin: 10px 0; display: inline-block;line-height:45px;  text-decoration: none;font-size:14px; font-family:'Roboto'; font-weight: 700; color:#f2f2f2; text-transform:uppercase; white-space:nowrap; letter-spacing:0px; background:rgba(28, 26, 32, 0.4); padding:0 20px 0px 40px; border: 1px solid #858488;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
#ajax-contact-form .submit em{display: inline-block; width: 8px; height: 7px; background: url(images/button0.png) 0 0 no-repeat; vertical-align: top; margin-left: 13px; margin-top: 20px;}
#ajax-contact-form .submit:hover{color: #fff; background: #2E8915; border-color: #2E8915;}

/*================= 404 =========================*/
.page-404{text-align: center;}
.page-404 .txt1{font-family:'Roboto'; font-weight:700; font-size:220px; color:#34303d; line-height:220px; }
.page-404 .txt2{font-family:'Roboto'; font-weight:400; font-size:70px; color:#34303d; line-height:70px; }





/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1200px) {
	.main #content{margin-top: -415px;}

	
}
/* Default landscape and desktop to large desktop */
@media (max-width: 1199px) {
	
}
@media (min-width: 980px) and (max-width: 1199px) {
	
	
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {	
	.logo_wrapper{float: none;}
	.search-form-wrapper{float: none; margin-top: 20px;}
	.navbar-form input{width: 655px;}
	.social_wrapper{float: none; margin-top: 20px;}

	


	
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav-collapse_.collapse{height: auto!important; overflow: visible!important;}
	.navbar_ .btn-navbar{display: none;}
	.navbar_ .nav > li > a{font-size: 14px; padding:0 15px;}

	.banners .txt2{font-size: 18px;}


	
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	body{padding-left: 0; padding-right: 0;}
	.container{width: 440px;}

	.logo img{width: 100%;}

	.navbar-form input{width: 370px;}

	.navbar_ .nav{display: block; background: url(images/px1.png);}
	.navbar_ .nav > li{float: none; padding: 0; background: none; border-left: none!important; border-right: none; border-bottom: 1px solid #434045;}
	.sub-menu ul{position: relative; left: 0; top: 0;}

	.main #content{margin-top: -300px;}

	.banners .banner_inner{border-bottom: 1px solid #fff; padding-right: 0px; border-right: none;}

	.thumb4 .figure_wrapper{float: none; margin-right: 0;}
	.thumb4 figure img{width: 100%;}

	.google_map iframe{height: 400px;}

		
}
@media (min-width: 481px) and (max-width: 767px) {

	
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.container{width: 300px;}

	.navbar-form input{width: 230px;}

	.main #content{margin-top: -200px;}

	.google_map iframe{height: 260px;}

	.page-404 .txt1{font-size: 150px; line-height: 150px;}
	.page-404 .txt2{font-size: 50px; line-height: 50px;}
	
}